{% extends "secure_base.html" %}
{% block title %}Tasks Status{% endblock %}

{% block main %}
<div class="card">
  <div class="card-header">
    Tasks status
  </div>
  <div class="card-body">
    {% if not data %}
    <p>No results available.</p>
    {% else %}
    <p>
      Contents of the task output folders is listed below. 
      You can view or download the files by clicking on respective links.</p>
    {% endif %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>S#</th>
          <th>File</th>
          <th>Task type</th>
          <th>Received on</th>
          <th>Status</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{loop.index}}</td>
          <td><img src="/images/{{row[0]}}" style="max-width: 250px;"/></td>
          <td>{{row[5]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}